.category-list {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (max-width: 1300px) {
    gap: 10px;
  }

  @media (max-width: 885px) {
    flex-wrap: wrap;
  }

  @media (max-width: 430px) {
        gap: 7px;
    }

  li {
    background-color: #efefef;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 17px;
    cursor: pointer;

    @media (max-width: 1300px) {
      font-size: 15px;
    }

    @media (max-width: 775px) {
      font-size: 13px;
    }

    @media (max-width: 430px) {
        font-size: 11px;
    }
  }

  .active-item {
    background-color: #313030;
    color: #fff;
  }
}
