.search{
    position: relative;

    @media (max-width: 560px) {
        margin-top: 10px;
    }

    .search-input{
        width: 300px;
        height: 40px;
        outline: none;
        border-radius: 20px;
        border: 1px solid #ff7010;
        padding-left: 20px;
        color: #ff7010;
        font-size: 17px;
        
        @media (max-width: 1030px) {
            width: 240px;
        }

        @media (max-width: 560px) {
            font-size: 14px;
        }

        @media (max-width: 320px) {
            font-size: 12px;
        }
    }

    .search-input::placeholder{
        color: #ff7010;
        font-size: 17px;

        @media (max-width: 560px) {
            font-size: 14px;
        }

        @media (max-width: 320px) {
            font-size: 12px;
        }
    }

    span{
        position: absolute;
        color: #ff7010;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        cursor: pointer;
    }


}